/HTML-CSS-Course/_notes/dwsync.xml
/HTML-CSS-Course/img/_notes/dwsync.xml
/HTML-CSS-Course/content.txt
/HTML-CSS-Course/img/challenges.jpg
/HTML-CSS-Course/img/laura-jones.jpg
/HTML-CSS-Course/img/post-img.jpg
/HTML-CSS-Course/img/related-1.jpg
/HTML-CSS-Course/img/related-2.jpg
/HTML-CSS-Course/img/related-3.jpg