/***** HEADER ******/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D7B08E;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
    height: 2.2rem;
    line-height: normal;
}
/***** NAVIGATION ******/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  grid-gap: 3.2rem;
}
.main-nav-link:link, .main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #68360B;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover, .main-nav-link:active {
  color: #E67E22;
}
.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: aliceblue;
  background-color: #E67E22;
}
.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active {
  background-color: #472508;
}
/***** HERO SECTION*****/
.section-hero {
  background-color: #D7B08E;
  padding: 9.6rem;
}
.hero {
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 4.8rem 0 9.6rem 0;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%;
}
.delivered-meals {
  display: flex;
  margin-top:
    8rem;
  align-items: center;
  grid-gap: 1.6rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px #D7B08E solid;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #68360B;
}
/****HOW IT WORKS****/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
	font-size: 9.8rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 1.2rem;
}

.step-description{
	line-height: 1.8;
	font-size: 1.8rem; 
}
.step-img {
  width: 35%;
}

.step-image-box {
	display: flex;
	align-items: center;
	justify-content: center;
}
