* {
    box-sizing: border-box;
    width: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background-image: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
	
	
}

.main-nav__item {
    display: inline-block;
	color: #1E4240;
    margin: 0 20px;
    
    
}
.home_item {
    color: #0F2221;
    font-size: 22px;
    font-weight: 700;
    vertical-align: middle;
    width: auto;
}
.main-nav__item a{
	text-decoration: none;
	color: #1E4240;
}
