@charset "utf-8";
/* CSS Document */
body {
  background: linear-gradient(30deg, rgba(121, 143, 174, 1.00), rgba(76, 85, 94, 1.00))
}
header {
  position: static;
}
#page-logo a {
  color: aqua;
}
header nav a {
  color: aqua;
}
header nav a:hover {
  background-color: rgba(74, 160, 154, 1.00);
  color: aliceblue;
}
main ul {
  width: 1400px;
  margin: 0 auto 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 30px;
}
main li {
  display: flex;
  background: rgba(217, 227, 235, 1.00);
  box-shadow: 2px 4px 4px rgba(51, 51, 51, 1.00);
  border-radius: 8px;
  overflow: hidden;
  color: rgba(75, 74, 74, 1.00);
  position: relative;
  width: 100%;
}
main li img {
  height: 280px;
  width: 300px;
  object-fit: cover;
}
main li:nth-child(3) {
  grid-column: 1/3
}
.item-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.item-content h2 {
  margin-top: 0;
}
.actions a {
  color: rgba(0, 179, 179, 1.00);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  right: 30px;
  padding: 3px 6px;
}
.actions a:hover {
  color: rgba(75, 74, 74, 1.00);
  background-color: rgba(217, 227, 235, 1.00);
  border-radius: 6px;
}