@charset "utf-8";
/* CSS Document */
body {
  background: linear-gradient(30deg, rgba(121, 143, 174, 1.00), rgba(76, 85, 94, 1.00))
}
header {
  position: static;
}
main ul{ width: 900px;
margin: 0 auto;

}
main li {
  display: flex;
  background: rgba(217, 227, 235, 1.00);
    box-shadow: 2px 4px 4px rgba(51,51,51,1.00);
    border-radius: 8px;
    overflow: hidden;
}
main li img {
  height: 280px;
  width: 300px;
    object-fit: cover;
}
.item-content {
    padding: 24px;
}
