@charset "utf-8";
/* CSS Document */
body {
  font-family: "Qicksand", sans-serif;
  margin: 0;
}
ul{ list-style: none;
margin: 0;padding: 0;
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
    color: rgba(231,197,19,1.00); font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,1.00)
        
        
    
}