@charset "utf-8";
/* CSS Document */
body {
  font-family: "Qicksand", sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgba(231, 197, 19, 1.00);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.00)
}
header ul {
  display: flex;
}
header li {
  margin-left: 20px;
}
header a {
  color: rgba(177, 204, 54, 1.00);
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  text-shadow: 1px 1px 2px 2px rgba(36, 36, 36, 1.00);
  border-radius: 8px;
}
header nav a:hover {
  color: rgba(79, 93, 23, 1.00);
  background-color: rgba(177, 204, 54, 1.00);
}
footer {
    background: linear-gradient(0deg, rgba(42,42,42,1.00), rgba(99,98,98,1.00));
    padding: 36px 0;
}
footer ul{ display: flex;
    justify-content: center;
}
footer li{
    width: 80px;
    height: 80px;
    margin: 0 50px;
}
footer img{
    width: 100%;
    height: 100%;
}
