@charset "utf-8";
/* CSS Document */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgba(116,134,152,1.00);
}
a{text-decoration: none;}

#main-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(71,79,87,1.00);
    padding: 0 2%;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(230,170,14,1.00);
    text-transform: uppercase;
}

#main-header ul {
 list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


#main-header ul li {
    margin: 0 1rem;
}

#main-header nav ul li a {
    color: rgba(230,170,14,1.00);
    font-size: 1.25rem;
}

#main-header nav ul li a:hover{
    color: rgba(245,206,171,1.00);
}

main h1 {
   text-align: center;
    color: rgba(230,170,14,1.00);
    font-size: 3rem;
}

#latest-products {
    width: 80%;
    margin: 2rem auto;
}

#latest-products ul {
    display: grid;
grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
.food-items{
    background-color: rgba(237,210,164,1.00);
    border-radius: 10px;
    overflow: hidden;
    list-style: none;
}
.food-items img {
    height: 16rem;
    width: 100%;
    object-fit: cover;
}

.food-item-content {
    padding: 1rem; text-align: center;
}
 

.btn {
    background-color: rgba(187,138,10,1.00);
    color: #D9E3EB;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
}

.btn:hover {
 background-color:    
rgba(150,111,8,1.00);}
