@charset "utf-8";
/* CSS Document */
#hero {
  height: 800px;
  background-image: url("images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
}
#hero-content {
  width: 900px;
  background-color: rgba(42, 42, 42, 0.79);
  box-shadow: 2px 2px 6px rgba(36, 36, 36, 1.00);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}
#hero-content h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
#hero-content p {
  color: aliceblue;
  font-feature-settings: 24px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 32px;
}
#hero-content a {
  text-decoration: none;
  background-color: rgba(177, 204, 54, 1.00);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(36, 36, 36, 1.00);
}
#hero-content a:hover {
  background-color: rgba(116, 134, 34, 1.00);
}
#destinations {
  display: flex;
	width: 90%;
	margin: auto;
	margin-bottom: 40px;
}
.destinations{margin: 0 20px;

}
.destinations img {
  height: 200px;
	width: 100%;
	box-shadow: 2px 4px 8px rgba(56,56,56,1.00);
	border-radius: 10px;
	object-fit: cover;
}