@charset "utf-8";
/* CSS Document */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgba(116,134,152,1.00);
}
a{text-decoration: none;}

#main-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(71,79,87,1.00);
    padding: 0 20px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: rgba(230,170,14,1.00);
    text-transform: uppercase;
}

#main-header ul {
 list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


#main-header ul li {
    margin: 0 16px;
}

#main-header nav ul li a {
    color: rgba(230,170,14,1.00);
    font-size: 20px;
}

#main-header nav ul li a:hover{
    color: rgba(245,206,171,1.00);
}

main h1 {
   text-align: center;
    color: rgba(230,170,14,1.00);
    font-size: 48px;
}

#latest-products {
    width: 80%;
    margin: 50px auto;
}

#latest-products ul {
    display: grid;
grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    padding: 0;
}
.food-items{
    background-color: rgba(237,210,164,1.00);
    border-radius: 10px;
    overflow: hidden;
}
.food-items img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}
