@charset "utf-8";
/* CSS Document */
* {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.container {
  width: 825px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
p, a, h3, li {
  margin-bottom: 10px;
}
/* PRODUCT */
.product {
  border: 4px solid black;
}
.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
h2::before {
  content: "SALE";
  position: absolute;
  background-color: red;
  top: -15px;
  left: -30px;
  padding: 5px 5px;
  font-size: 15px;
  letter-spacing: 2px;
  display: inline-block;
}
/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
  margin-bottom: 5px;
}
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}
.more-info:link, .more-info:visited {
  color: black; display: inline-block;
}
.more-info:hover, .more-info:active {
  text-decoration: none;
}
/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.details-list {
  list-style: square;
  padding-left: 20px;
  margin-bottom: 20px;
}
/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}
.add-cart:hover {
  color: #000;
  background-color: #fff;
  padding-left: auto;
  width: 100%;
  border-top: 4px solid black;
}
.color-black {
  background-color: black;
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 10px;
  position: absolute;
}
.color-blue {
  background-color: blue;
  width: 20px;
  height: 20px;
  margin: 10px;
  position: absolute;
  left: 30px
}
.colors {
  position: relative;
}
.color-red {
  background-color: red;
  width: 20px;
  height: 20px;
  margin: 10px;
  position: absolute;
  left: 60px
}
.color-yellow {
  background-color: yellow;
  width: 20px;
  height: 20px;
  margin: 10px;
  position: absolute;
  left: 90px
}
.color-green {
  background-color: green;
  width: 20px;
  height: 20px;
  margin: 10px;
  position: absolute;
  left: 120px
}
.color-brown {
  background-color: saddlebrown;
  width: 20px;
  height: 20px;
  margin: 10px;
  position: absolute;
  left: 150px
}