@charset "utf-8";
/* CSS Document */
body {
  background-color: rgba(164, 235, 211, 1.00);
  width: 1000px;
  margin: 0 auto;
  text-align: center
}
form {
  box-sizing: border-box;
  width: 50rem;
  
  border: solid 1px rgba(58, 58, 58, 1.00);
  background-color: rgba(170, 170, 170, 1.00);
  margin: 3rem auto;
	padding: 2rem;
  border-radius: 10px;
  text-align: center
}
ul {
  list-style: none;
	margin: 0;
	padding: 0;
}
label {
  font-size: 1.2rem;
  font-weight: bold;
	display: block;
	
}
input, textarea, select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 auto;
  padding: 0.25rem;border: solid 1px rgba(170,170,170,1.00);
	border-radius: 6px;
}
input:focus, textarea:focus{
	
	background-color: rgba(188,239,222,1.00);
}

#contactdata {
	margin-bottom: 3rem;
}

.formcontrol {
	display: flex;
	
}
.formcontrol label{margin: 0; margin-left: 2rem;}
.formcontrol input{width: auto; }

.padajuci {
	width: 100%;
	padding: 0.2rem;
	border-radius: 6px;
}
