@charset "utf-8";
/* CSS Document */


main {
	background-color: rgba(170,170,170,1.00);
	border: 2px solid rgba(58,58,58,1.00);
  margin: 10px auto;
  width: 800px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 1fr 8rem;
	grid-template-areas: "header header header header"
		                 "aside main main main"
		                 "footer footer footer footer"
}
.header {
	display: flex;
	align-items: center;
        justify-content: center;
	color: aliceblue;
	background-color: rgba(58,58,58,1.00);
    margin: 1rem 1rem;
    border: 2px solid #242424;
    box-shadow: 2px 2px 4px #000000;
    grid-area: header;
}
.maincontent {
	color: aliceblue;
	background-color: rgba(58,58,58,1.00);
	margin: 1rem 1rem;
   display: flex;
	align-items: center;
        justify-content: center;
  border: 2px solid #242424;
	box-shadow: 2px 2px 4px #000000;
  grid-area: main;
}
.aside {
	color: aliceblue;
	background-color: rgba(58,58,58,1.00);
	margin: 1rem 1rem;
   display: flex;
	align-items: center;
        justify-content: center;
	
  border: 2px solid #242424;
	box-shadow: 2px 2px 4px #000000;
  grid-area: aside;
}
.footer {
	display: flex;
	align-items: center;
        justify-content: center;
	color: aliceblue;
	background-color: rgba(58,58,58,1.00);
	margin: 1rem 1rem;
  
	
  border: 2px solid #242424;
	box-shadow: 2px 2px 4px #000000;
  grid-area: footer;

}
