
.box-1 {
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border: #9B5354 solid 3px;
/*	margin: 0;
*/}


.box-ext {
	height: 100%;
	height: 300px;
	width: 50%;
}

.box-hide {
/*    display: none;*/
}

.box-all {
	
}

.box-2:hover {
	cursor: pointer;
	color: red;
	background-color: gray;
	border: 0;
	
}


