body {
  background-color: rgba(36, 36, 36, 1.00);
  font-family: 'Roboto', sans-serif;
}
h1 {text-align: center; color: aliceblue;}
ul{list-style: none;
margin: 0;
padding: 0;}
form {
  width: 40rem;
  margin: 3rem auto;
  background-color: rgba(247, 247, 248, 1.00);
  padding: 1rem;
  border-radius: 10px;
}
label {
  margin-bottom: 0.5rem;
  display: block;
}
input, textarea, select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgba(170, 170, 170, 1.00);
  padding: 0.25rem;
  color: rgba(58, 58, 58, 1.00);
}
input:focus, textarea:focus {
  background-color: rgba(85,176,170,1.00);
  color: rgba(15, 34, 33, 1.00);
  border-color: rgba(85,176,170,1.00);
}
textarea{resize: none;}
button {
  display: block;
  font: inherit;
  background-color: rgba(30, 66, 64, 1.00);  
	color: aliceblue;  
	border: solid 0.25rem rgba(30, 66, 64, 1.00);
  padding: 0.25rem 1.2rem;
	border-radius: 6px;
	cursor: pointer;
}
button:hover{
	background-color: rgba(46,90,87,1.00); border-color: rgba(46,90,87,1.00);
}
.form-control-inline {
	display: flex;
	}
.form-control-inline input{width: auto;
margin-right: 0.5rem;
}
