/*Let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
  box-sizing: border-box;
}

/*style the container*/
.container {
  background-color: #07575b;
  height: 250px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: center; */
  align-items: flex-start;
  align-content: space-between;
}

/*style divs inside the container*/
.container > div {
  background-color: #66a5ad;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  margin: 1px;
  border: 3px #c4dfe6 solid;
  /* flex-grow: 1; */
  /* flex-basis: 100px; */
  /* flex-shrink: 1; */
  flex: 1 1 150px;
}

#facebook {
  font-size: 10px;
}
#apple {
  /* flex-shrink: 2; */
}
