* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  font-size: 24px;
}

/*todo ------ 1.0 Container -------- */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*todo ------ 1.1 Deatils -------- */
.details {
  flex: 3;
  background-color: green;
}
/*todo --- 1.1.1 Address--------- */
.address .form-group {
  display: flex;
  margin: 1em;
}
.address .form-group label {
  flex: 1;
  margin-right: 1em;
  text-align: right;
}
.address .form-group input {
  flex: 3;
  font-size: 1em;
}
/*todo --- 1.1.2 Shipping--------- */
.shipping {
  text-align: center;
}

.shipping select {
  font-size: 1em;
  margin-top: 0.5em;
}
/*todo --- 1.1.3 Payment--------- */
.payment {
  text-align: center;
  margin-top: 1em;
}
.payment div:nth-child(2) {
  display: flex;
}
.payment div:nth-child(2) label {
  flex: 1;
  margin-top: 0.5em;
}
/*todo --- 1.1.4 Checks--------- */
.checks {
  display: flex;
}
.checks label {
  flex: 1;
}
.checks label:nth-child(2) {
  order: 1;
}
.checks label:nth-child(1) {
  order: 2;
}
/*todo ------ 1.2 Comments -------- */
.comments {
  flex: 1;
  background-color: blue;
}

.submit {
  margin-top: auto;
}
