* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
#product-overview {
  background: url("freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
}
.section-title {
  color: #2ddf5c;
  text-align: center
}
#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}
.plan {
  background-color: aquamarine;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.plan-highlited {
  background-color: #2ddf5c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.50);
}
.plan_annotation {
  color: green;
  background: white;
  padding: 5px;
  box-shadow: 2px 5px 3px 1px;
  border-radius: 10px;
}
.price_free {
  color: #1e4240;
}
.price_current {
  color: #0e4f1f;
}
.plan-highlited .price_free {
  color: aliceblue;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  margin-bottom: 5px;
}
.button {
  background-color: #1E4240;
  color: aliceblue;
  font-family: inherit;
  border: #1E4240 solid 2px;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.button:hover, .button:active {
  background-color: aliceblue;
  color: #1E4240;
}
#key-features {
  background-color: brown;
  margin-top: 80px;
  padding: 16px;
}
#key-features .section-title {
  color: aliceblue;
  margin: 32px;
}
.inline {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.inline-desc {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.inline-image{
	background: #A07676;

}
.inline-text{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	
}
/* h1 {
    font-family: sans-serif;
} */
.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.50);
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}
.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}
.main-nav__item a:hover, .main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}
.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__item--cta a:hover, .main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}
