@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.50);
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}
.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}
.main-nav__item a:hover, .main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}
.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__item--cta a:hover, .main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}
.main-footer {
  background-color: black;
  padding: 32px;
  margin-top: 48px;
}
.main-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-footer-l {
  display: inline-block;
  margin: 0 16px;
}
.main-footer-l a {
  text-decoration: none;
  color: aliceblue;
}
.main-footer-l a:hover, .main-footer-l a:active {
  color: gray;
}
.button {
  background-color: #1E4240;
  color: aliceblue;
  font-family: inherit;
  border: #1E4240 solid 2px;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.button:hover, .button:active {
  background-color: aliceblue;
  color: #1E4240;
}
.button:focus {
  outline: none;
}